#skill {
  list-style: none;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin: auto;
  position: relative;
  line-height: 1em;
  background: #222;
  width: 90%;
  padding: 10vh;
  padding-bottom: 0;
  border-width: 8px;
  border-style: solid;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  border-radius: 25px;
}

.skill_title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#skill li {
  margin-bottom: 5%;
  margin-top: 10%;
  position: relative;
  background: transparent;
  transition: 0.5s;
  height: 20px;
  border-radius: 10px;
  font-size: 0.8em;
}

#skill li h3 {
  position: relative;
  top: -25px;
  transition: 0.5s;
}

#skill li h3:hover {
  transform: translateX(20px);
}

.bar {
  height: 18px;
  margin: 1px 2px;
  position: absolute;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px transparent inset, 0 1px 0 transparent;
  -webkit-box-shadow: 0 1px 0px transparent inset, 0 1px 0 transparent;
  box-shadow: 0 1px 0px transparent inset, 0 1px 0 transparent;
}

.graphic-design {
  width: 84%;
  -moz-animation: graphic-design 2s ease-out;
  -webkit-animation: graphic-design 2s ease-out;
  animation: alternate-reverse;
  background-color: #b60a0d;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f674a4),
      to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(to left, #f674a4, #e06995);
}

.html-css {
  width: 88%;
  -moz-animation: html-css 2s ease-out;
  -webkit-animation: html-css 2s ease-out;
  animation: alternate-reverse;
  background-color: #d6be0b;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f0bb4b),
      to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(to left, #f0bb4b, #d9aa44);
}

.jquery {
  width: 90%;
  -moz-animation: jquery 2s ease-out;
  -webkit-animation: jquery 2s ease-out;
  animation: alternate-reverse;
  background-color: #0fbd09;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#a1ce5b),
      to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(to left, #a1ce5b, #91ba52);
}

.wordpress {
  width: 95%;
  -moz-animation: wordpress 2s ease-out;
  -webkit-animation: wordpress 2s ease-out;
  animation: alternate-reverse;
  background-color: #0faabe;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#66b3cc),
      to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(to left, #66b3cc, #5da3ba);
}

.react {
  width: 90%;
  -moz-animation: react 2s ease-out;
  -webkit-animation: react 2s ease-out;
  animation: alternate-reverse;
  background-color: #4b129b;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#4b129b),
      to(#390368));
  background-image: -webkit-linear-gradient(top, #4b129b, #390368);
  background-image: -moz-linear-gradient(top, #4b129b, #390368);
  background-image: -ms-linear-gradient(top, #4b129b, #390368);
  background-image: -o-linear-gradient(top, #4b129b, #390368);
  background-image: linear-gradient(to left, #4b129b, #390368);
}

.communication {
  width: 90%;
  -moz-animation: graphic-design 2s ease-out;
  -webkit-animation: graphic-design 2s ease-out;
  animation: alternate-reverse;
  background-color: #18b60a;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f674a4),
      to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(to left, #f674a4, #e06995);
}

.teamplayer {
  width: 93%;
  -moz-animation: html-css 2s ease-out;
  -webkit-animation: html-css 2s ease-out;
  animation: alternate-reverse;
  background-color: #d60ba0;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f0bb4b),
      to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(to left, #f0bb4b, #d9aa44);
}

.hardworking {
  width: 85%;
  -moz-animation: jquery 2s ease-out;
  -webkit-animation: jquery 2s ease-out;
  animation: alternate-reverse;
  background-color: #41036b;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#a1ce5b),
      to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(to left, #a1ce5b, #91ba52);
}

.adaptability {
  width: 97%;
  -moz-animation: wordpress 2s ease-out;
  -webkit-animation: wordpress 2s ease-out;
  animation: alternate-reverse;
  background-color: #be350f;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#66b3cc),
      to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(to left, #66b3cc, #5da3ba);
}

.accountability {
  width: 88%;
  -moz-animation: react 2s ease-out;
  -webkit-animation: react 2s ease-out;
  animation: alternate-reverse;
  background-color: #5e045e;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#4b129b),
      to(#390368));
  background-image: -webkit-linear-gradient(top, #4b129b, #390368);
  background-image: -moz-linear-gradient(top, #4b129b, #390368);
  background-image: -ms-linear-gradient(top, #4b129b, #390368);
  background-image: -o-linear-gradient(top, #4b129b, #390368);
  background-image: linear-gradient(to left, #4b129b, #390368);
}

.skill_title h2 {
  position: relative;

  color: #fff;
  font-size: 2em;
}

.soft {
  width: 48%;
}

.technical {
  width: 48%;
}

@media screen and (max-width: 660px) {
  #skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
  }

  .technical {
    font-size: 1em;
    margin-bottom: 5vh;
  }

  .soft {
    margin-bottom: 5vh;
    font-size: 1em;
  }

  .skill_title h2 {
    position: relative;
    color: #fff;
    margin-bottom: 5vh;
    width: 100vw;
  }

  .skill_title li {
    margin-top: 10vh;
    width: 60vw;
    margin-left: 0;
  }

  #skill li {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}