.contact {
  position: relative;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 95vh;
}

.contact_details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #222;
  box-shadow: 5px 8px 8px 8px black;
  width: 30%;
  height: 80%;
  align-items: center;
  border-radius: 0 25px;
}

.nav_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: 80%;
  margin-top: 0;
  line-height: 220%;
  background: #222;
  box-shadow: 5px 8px 8px 8px black;
  border-radius: 25px 0;
  align-items: center;
  font-size: 1.2em;
  transition: 0.5s;
}

input {
  margin: 1%;
  margin-bottom: 1%;
  height: 6%;
  width: 60%;
  border-radius: 5px;
  background: transparent;
  border: 2px solid linear-gradient(to right, #039aff, #0dff00);
}

input:focus {
  background: #fff;
}

.input_message {
  height: 30%;
  width: 60%;
  margin-bottom: 2%;
  background: transparent;
}

input_message:focus {
  background: #fff;
}

.form-button {
  width: 70%;
  height: 10%;
  border-radius: 25px;
  border-image: linear-gradient(60deg, #0ab699, #4b129b) 1;
  color: #fff;
  font-size: 1.5em;
}

.form-button:hover {
  border-image: linear-gradient(60deg, #4b129b, #0ab699) 1;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
  }

  .contact_details {
    height: 70vh;
    width: 80vw;
    margin-bottom: 5vh;
  }

  .form {
    height: auto;
    width: 80vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 1em;
  }

  .form-button {
    height: 8vh;
    margin-top: 5vh;
  }

  .form input {
    width: 60%;
    height: 80%;
    margin: 2%;
  }

  .input_message {
    height: 120%;
    background: gray;
  }
}